@page "/Account/Access-Denied"

@using BlazorApp1.Components.Layout
@layout MainLayout

@* <TwoSectionsTemplae>
	<Col12Template>
		<div class="card">
			<div class="card-body">
				<div class="alert alert-warning"><h1>Acceso denegado</h1></div>
			</div>
		</div>

	</Col12Template>
	<footerTemplate><footer></footer></footerTemplate>
</TwoSectionsTemplae> *@


